apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: vm-imagepull
  namespace: {{ bootstrap_tenant_username }}-vm-troubleshoot
spec:
  runStrategy: Always
  template:
    metadata:
      annotations:
        vm.kubevirt.io/flavor: small
        vm.kubevirt.io/os: centos-stream9
        vm.kubevirt.io/workload: server
      labels:
        kubevirt.io/domain: vm-imagepull
    spec:
      architecture: amd64
      evictionStrategy: None
      domain:
        cpu:
          cores: 1
          sockets: 1
          threads: 1
        devices:
          disks:
            - disk:
                bus: virtio
              name: containerdisk
            - disk:
                bus: virtio
              name: cloudinitdisk
          interfaces:
            - masquerade: {}
              name: default
          rng: {}
        features:
          acpi: {}
        machine:
          type: pc-q35-rhel9.4.0
        memory:
          guest: 2Gi
        resources: {}
      networks:
        - name: default
          pod: {}
      terminationGracePeriodSeconds: 180
      volumes:
        - name: containerdisk
          containerDisk:
            image: quay.{{ bootstrap_tenant_cluster_domain }}/{{ bootstrap_tenant_quay_organization }}/{{ bootstrap_tenant_quay_repository }}:{{ bootstrap_tenant_quay_image_tag }}
        - cloudInitNoCloud:
            userData: |-
              #cloud-config
              user: cloud-user
              password: redhat
              chpasswd: { expire: False }
          name: cloudinitdisk
